<div class="container">
  <div class="frequency-container">
    <mat-card>
      <mat-card-header class="custom-mat-header">
        Set a frequency
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group [selectedIndex]="selectedTab">
          <mat-tab label="Daily">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="frequency-content-wrapper">
                <div fxLayout="column" fxFlex="calc(70% - 20px)">
                  <span>Every 1 Day at 11.59 PM</span>
                </div>
                <div fxLayout="column" fxFlex="calc(30% - 20px)">
                  <mat-slide-toggle color="primary" [(ngModel)]="getFrequencySelectedList('Daily').isResponsibilitySet">
                    Set a life cycle
                    for this responsibility</mat-slide-toggle>
                </div>
              </div>
              <div fxLayout="row" fxFlex="100">
                <app-frequency [selectedObj]="getFrequencySelectedList('Daily')" fxFlex="100" fxLayout="row">
                </app-frequency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Weekly">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="frequency-content-wrapper">
                <div fxLayout="column" fxFlex="calc(70% - 20px)">
                  <span *ngIf="returnValue!==''">Every {{getWeek()}} week at 11.59 PM</span>
                </div>
                <div fxLayout="column" fxFlex="calc(30% - 20px)">
                  <mat-slide-toggle color="primary"
                    [(ngModel)]="getFrequencySelectedList('Weekly').isResponsibilitySet">Set a life
                    cycle for this responsibility</mat-slide-toggle>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">
                <div fxLayout="column" fxFlex="0 0 calc(20% - 20px)" *ngFor="let item of weeklyList">
                  <mat-checkbox class="mat-checkbox-space" color="primary" [(ngModel)]="item.value">{{item.key}}
                  </mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxFlex="100">
                <app-frequency [selectedObj]="getFrequencySelectedList('Weekly')" fxFlex="100" fxLayout="row">
                </app-frequency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Monthly">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="frequency-content-wrapper">
                <div fxLayout="column" fxFlex="calc(60% - 20px)">
                  <mat-form-field fxFlex="50">
                    <input matInput [(ngModel)]="selectedMonthlyDate">
                    <span matPrefix>Every 1 &nbsp; &nbsp; &nbsp;</span>
                    <span matSuffix>Day at 11.59 PM</span>
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="calc(30% - 20px)">
                  <mat-slide-toggle color="primary"
                    [(ngModel)]="getFrequencySelectedList('Monthly').isResponsibilitySet">Set a life
                    cycle for this responsibility</mat-slide-toggle>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">
                <div fxLayout="column" fxFlex="0 0 calc(20% - 20px)" *ngFor="let item of monthlyList">
                  <mat-checkbox class="mat-checkbox-space" color="primary" [(ngModel)]="item.value">{{item.key}}
                  </mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxFlex="100">
                <app-frequency [selectedObj]="getFrequencySelectedList('Monthly')" fxFlex="100" fxLayout="row">
                </app-frequency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Yearly">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="frequency-content-wrapper">
                <div fxLayout="column" fxFlex="calc(70% - 20px)">
                  <mat-form-field fxFlex="50">
                    <input matInput [(ngModel)]="selectedYearlyDate">
                    <span matPrefix>Every 1 year of Day &nbsp; &nbsp; &nbsp;</span>
                    <span matSuffix> at 11.59 PM</span>
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="calc(30% - 20px)">
                  <mat-slide-toggle color="primary"
                    [(ngModel)]="getFrequencySelectedList('Yearly').isResponsibilitySet">Set a life
                    cycle for this responsibility</mat-slide-toggle>
                </div>
              </div>
              <div fxLayoutGap="20px" fxFlex="100">
                <mat-radio-group [(ngModel)]="selectedYearly" fxLayout="row wrap" aria-label="Select an option">
                  <mat-radio-button color="primary" fxLayout="column" fxFlex="0 0 calc(20% - 20px)"
                    *ngFor="let item of yearlyList" [value]="item">{{item}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxLayout="row" fxFlex="100">
                <app-frequency [selectedObj]="getFrequencySelectedList('Yearly')" fxFlex="100" fxLayout="row">
                </app-frequency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="One Time">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="frequency-content-wrapper">
                <div fxLayout="column" fxFlex="calc(100% - 20px)">
                  <mat-form-field fxFlex="100" fxLayout="row">
                    <input [(ngModel)]="oneTimeDate" matInput [matDatepicker]="picker1" placeholder="One Time Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker name="fieldName" ngDefaultControl [(ngModel)]="oneTimeDate" #picker1>
                    </mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Holiday">
            <div class="frequency-wrapper" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="100">
                <div class="btn-align">
                  <button mat-raised-button (click)="getdata()" color="primary">Show Result</button>
                </div>
                <div fxLayout="row" fxFlex="100">
                  <div fxLayout="row wrap" fxLayoutGap="20px" fxFlex="100">
                    <div fxLayout="column" fxFlex="0 0 calc(20% - 20px)" *ngFor="let item of holidayWeekList">
                      <mat-checkbox class="mat-checkbox-space" color="primary" [(ngModel)]="item.value">{{item.key}}
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutGap="20px">
                  <mat-form-field fxLayout="column" fxFlex="calc(45% - 20px)">
                    <input matInput placeholder="Holiday Name" [(ngModel)]="holidayName">
                  </mat-form-field>
                  <mat-form-field fxLayout="column" fxFlex="calc(45% - 20px)">
                    <input [(ngModel)]="holidayDate" matInput [matDatepicker]="hpicker" placeholder="Start from">
                    <mat-datepicker-toggle matSuffix [for]="hpicker"></mat-datepicker-toggle>
                    <mat-datepicker name="fieldName" ngDefaultControl [(ngModel)]="holidayDate" #hpicker>
                    </mat-datepicker>
                  </mat-form-field>
                  <div fxFlex="calc(10% - 20px)">
                    <button mat-raised-button (click)="saveHoliday()" color="primary">Submit</button>
                  </div>
                </div>
                <div class="table-container" fxLayout="row" fxFlex="100">
                  <table mat-table aria-describedby="desc" [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="holidayName">
                      <th mat-header-cell id="holidayName" *matHeaderCellDef> Holiday Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.holidayName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell id="date" *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Result">
            <div class="frequnecy-result-container" fxFlex="100" fxLayout="row"
              *ngFor="let eachFrequency of frequencyData">
              <div fxFlex="100" fxLayout="column">
                {{eachFrequency?.frequnecyType}}
              </div>
              <div fxFlex="100" fxLayout="column">
                <div fxFlex="100" fxLayout="row wrap">
                  <div class="date-container" fxLayout="column" fxFlex="50"
                    *ngFor="let result of eachFrequency?.result">
                    {{result}}
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
