.frequency-container {
  width: 70vw;
  margin: 0 auto;
  padding: 200px;
}

.mat-card-content {
  margin-top: 20px;
}

.frequency-wrapper {
  margin-top: 35px;
}

.frequency-content-wrapper {
  height: 64px;
}

.btn-align {
  text-align: end;
}

.custom-mat-header {
  color: #ffffff;
  background-color: #1565c0;
  margin: -16px -16px 0px -16px;
  height: 42px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 19px;
}

.mat-card {
  padding-top: 0px;
}

.date-container {
  height: 36px;
  padding-top: 11px;
  padding-bottom: 13px;
  border-bottom: 2px solid #efecec;
  margin-bottom: 8px;
}

.frequnecy-result-container {
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 2px solid #6baefa;
}

.mat-radio-button {
  padding: 16px;
}

.mat-checkbox-space {
  padding: 16px;
}

.table-container {
  margin-top: 15px;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
}

table {
  width: 100%;
}
