<div class="frequency-container " fxFlex="100" fxLayout="column">
  <mat-form-field fxFlex="100" fxLayout="row">
    <input [(ngModel)]="selectedObj.startFrom" matInput [matDatepicker]="picker1" placeholder="Start from">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker name="fieldName" ngDefaultControl [(ngModel)]="selectedObj.startFrom" #picker1></mat-datepicker>
  </mat-form-field>
  <div fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="20px" fxLayout="row">
    <div fxLayoutAlign="flex-start center" fxFlex="calc(33% - 20px)" fxLayout="row">
      <mat-radio-group [(ngModel)]="selectedObj.endDetail.key" aria-label="Select an option">
        <mat-radio-button color="primary" value="END_BY"></mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedObj.endDetail.endByValue" [matDatepicker]="picker" placeholder="End By">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [(ngModel)]="selectedObj.endDetail.endByValue" name="fieldName" ngDefaultControl #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="flex-start center" fxFlex="calc(33% - 20px)" fxLayout="row">
      <mat-radio-group [(ngModel)]="selectedObj.endDetail.key" aria-label="Select an option">
        <mat-radio-button color="primary"  value="END_AFTER"></mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedObj.endDetail.endAfterValue" placeholder="Ends After">
        <span matSuffix>Occurence</span>
      </mat-form-field>
    </div>

    <div fxFlex="calc(34% - 20px)" fxLayout="row">
      <mat-radio-group [(ngModel)]="selectedObj.endDetail.key" aria-label="Select an option">
        <mat-radio-button color="primary"  value="RESPONSIBILITY"></mat-radio-button>
      </mat-radio-group>
      The responsibility will prepetually exist.
    </div>
  </div>
</div>
